/********************Header******************/
.col-xl-6{
	margin: 0;
}
header{
	width: 1920px;
    height: 200px;
    background-color: bisque;
    margin-left: -15px;
}
.socials{
    margin-top: 70px;
}
.phone{
    margin-top: 15px;
    margin-left: 98px;
    width: 100%;
}
.email{
    margin-left: 131px;
}
.logo{
	margin-top: 20px;
}
.text-logo{
	margin-top: 15px;
	font-size: 16px;
}
.cart{
	margin-top: 50px;	
}
.cart button{
	width: 94px;
}

.cabinet{
	margin-top: 20px;
}
.nav{
	width: 1920px;
	height: 70px;
	margin-left: -15px;
	background-color: #ccc;
}
.nav ul{
	margin-left: 100px;
}
.nav-item{
	margin-left: 195px;
	margin-top: 15px;
}
/************************END HEADER***********/
/*************************MAIN****************/
.main{
	margin-top: 5px;
}
.main-cake{
	width: 100%;
	height: 610px;
	background-color: #F1F1DB;
}
.main-marshmallow{
	width: 100%;
	height: 300px;
	background-color: #F1F1DB;
}
.main-cookies{
	width: 100%;
	height: 300px;
	background-color: #F1F1DB;
	margin-top: 10px;
}
.main-merengs{
	width: 100%;
	height: 300px;
	background-color: #F1F1DB;
	margin-left: 10px;
}
.main-sets{
	width: 100%;
	height: 300px;
	background-color: #F1F1DB;
	margin-top: 10px;
	margin-left: 10px;
}
/*************************END MAIN****************/

/**************************ADVANTAGES*************/
.advantages{
	margin-top: 10px;
	background-color: #c2c2c2;
}
.adv-cards{
	margin-top: 20px;
}
.card{
	margin: 10px auto;
}
/**************************ENDADVANTAGES*************/

/**************************ORDERS*************/
.orders{
	margin-top: 10px;
	background-color: #c2c2c2;
}
#slider{
	width: 512px;
	height: 85px;
	margin: 20px auto;
	overflow: hidden;
}
#line{
	width: 896px;
	position: relative;
	transition: all ease 1s;
	left: 0;
}
#line img{
	float: left;
}
#line::after{
	content: "";
	display: block;
	clear: both;
}
#slider-left{
	margin-left: 77px;
	margin-top: -140px;
}
#slider-right{
	margin-top: -140px;
	margin-left: 630px;
}
/**************************ENDORDERS*************/

/**************************MAILING*************/

.mailing{
	margin-top: 10px;
	background-color: #c2c2c2;
}

/**************************ENDMAILING*************/
