/********************Header******************/
header{
	width: 1920px;
    height: 200px;
    background-color: bisque;
    margin-left: -15px;
}
.socials{
    margin-top: 70px;
}
.phone{
    margin-top: 15px;
    margin-left: 98px;
    width: 100%;
}
.email{
    margin-left: 131px;
}
.logo{
	margin-top: 20px;
}
.text-logo{
	margin-top: 15px;
	font-size: 16px;
}
.cart{
	margin-top: 50px;	
}
.cart button{
	width: 94px;
}

.cabinet{
	margin-top: 20px;
}
.nav{
	width: 1920px;
	height: 80px;
	margin-left: -15px;
	background-color: aqua;
}
.nav ul{
	margin-left: 100px;
}
.nav-item{
	margin-left: 195px;
	margin-top: 20px;

}

